{{outlet}}

<div class="ui one column centered grid three column row ">
<div class="ui input ">
  {{input  value=model.copy.identity placeholder="identity"}}
</div>
{{#link-to "developers"}}
  <button class ="ui button" {{action "save" model}}>Modifier</button>
{{/link-to}}
</div>
