<div class="ui one column centered grid three column row ">
  <div class="ui input">
  {{input  value=model.copy.identity placeholder="identity"}}
  </div>
  <button class ="ui labeled icon button" {{action "save" model}}>
    <i class="plus icon"></i> Ajouter</button>
</div>
{{outlet}}
