<nav>

{{#link-to "developers"}}<button class="ui basic blue button">Developers</button>{{/link-to}}
{{#link-to "projects"}}<button class="ui basic blue button">Projects</button>{{/link-to}}
</nav>
<br>

{{outlet}}
