<div class="ui one column centered grid three column row ">
  <div class="ui input">
  {{input  value=model.copy.identity placeholder="identity"}}
  </div>
  <button class ="user icon ui basic button blue" {{action "save" model}}>
    <i class="ui  plus square icon"></i> Ajouter</button>
</div>
{{outlet}}
