Exercices
<ul class="list-group-item-dark">
  <li>{{#link-to "ex1"}}Exercice 1 : Note{{/link-to}}</li>
  <li>{{#link-to "ex2"}}Exercice 2 : Services{{/link-to}}</li>
  <li>{{#link-to "ex3"}}Exercice 3 : Helpers{{/link-to}}</li>
</ul>

<div class="container">{{outlet}}</div>