<nav>
  <div class="ui secondary pointing menu">
{{#link-to "developers"}}
    <a class="item">
      Développeurs
    </a>{{/link-to}}
  {{#link-to "projects"}}
    <a class="item">
      Projets
    </a>{{/link-to}}
  </div>
</nav>
<br>

{{outlet}}
